@font-face {
  font-family: "DOSGothic";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "DOSGothic";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#e5f4fb, #8dceeb);
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
