.App{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: burlywood;
}

.title-text{
  width: calc(70% + 40px);
  text-align: start;
}

.main{
  width: 70%;
  background-color: white;
  padding: 20px;
}

.input-area{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cost-text{
  width: calc(70% + 40px);
  text-align: end;
}

input { 
  font-size: 1rem;
  font-weight: 900;
}

.input-box{
  width: 48%;
  padding: 5px;
  display: flex;
  flex-direction: column;

  font-size: 1rem;
  font-weight: 900;
}

.input-area span{
  color: darkgoldenrod;
}

.contents-input{
  padding: 10px 0px;
  border: none;
  border-bottom: 2px solid burlywood;
  outline: none;
}


.green-btn{
  color: white;
  background-color: olivedrab;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px gray;
  
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 15px;
}

.green-btn:hover{
  box-shadow: 0px 1px 20px gray;

}

