.budgetInner {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 44px;
}

.budgetInner > * {
  flex: 1;
}

.budgetFormBoxItem {
  flex: 1;
}

.budgetFormBoxItem label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.budgetFormBoxItem .amount {
  text-align: right;
}

.buttons {
  flex: 0.6;
  display: flex;
  gap: 6px;
  justify-content: center;
}
