@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  box-sizing: border-box;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.App {
  max-width: 520px;
  margin: 100px auto;
}

.mainTitle {
  text-align: center;
  margin-bottom: 40px;
}

.budgetFormBox {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.budgetFormBoxItem {
  flex: 1;
}

.budgetFormBoxItem label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
}

.budgetFormBoxItem input {
  outline: none;
  width: 100%;
  height: 36px;
  padding: 10px 8px;
  border: solid 1px #ddd;
}

.budgetFormBoxItem .amount {
  text-align: right;
}

.submitButton {
  cursor: pointer;
  width: 100%;
  height: 44px;
  border: 0;
  background-color: #333;
  color: #fff;
}

.budgetList {
  padding: 30px 0 20px;
  border-bottom: dashed 2px #333;
}

.budgetInner {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 44px;
}

.budgetInner > * {
  flex: 1;
}

.amount {
  text-align: right;
}

.buttons {
  flex: 0.6;
  display: flex;
  gap: 6px;
  justify-content: center;
}

.buttons button {
  border: 0;
  height: 32px;
  padding: 0 10px;
  background-color: #777;
  color: #fff;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.deleteAllButton {
  border: 0;
  height: 40px;
  background-color: #333;
  padding: 0 20px;
  color: #fff;
}

.totalAmount span {
  font-size: 22px;
  font-weight: 500;
}
